<!-- all-user-view -->

<div>
	<div class="container">
	<div>
	<a href="#!MyAllBlog"  ng-click="ctrl.getMyBlogs(Blog,blog.blogId)">
               
                 </a>
	<div class="col-md-4" ng-repeat="blog in ctrl.blogs">
	<div>
	<div>
	<h3><a><span><i class="fa fa-rss" aria-hidden="true"></i></span>{{blog.blogTitle}}</a></h3>
	<p>{{blog.blogContent}}</p>
	<div>
	
	
<input type="button" class="btn btn-warning floatright"
	ng-click="ctrl.getSelectedBlog(blog.blogId)" 
      value="More Details">
      

	</div>
	</div>
	<div>
	<h4></h4>
<ul style="text-align: center;">
<div class="card" align="right">
      <h6>{{blog.blogStatus}}</h6>
      <button ng-show=" currentUser.role == 'ADMIN' && (blog.blogStatus == 'Pending' || blog.blogStatus == 'Reject')" ng-click="ctrl.approveBlog(Blog,blog.blogId)">Approve</button>
	  <button ng-show=" currentUser.role == 'ADMIN' && (blog.blogStatus == 'Pending' || blog.blogStatus == 'Approved')" ng-click="ctrl.rejectBlog(Blog,blog.blogId)">Reject</button>
    </div>
		</ul>
		
		</div>
		</div>
		</div>
		</div>
